<a [routerLink]="['/product', product.id]">
<app-img *ngIf="product.images.length > 0" [img]="product.images[0]"></app-img>
</a>
<h2 class="title">{{ product.price | currency }}</h2>
<p>{{ product.title }}</p>
<p class="category">{{ product.category.name }}</p>
<div class="opciones">
  <a routerLink="." [queryParams]="{product: product.id}">Ver detalle</a>
  <button (click)="onAddToCart()">
    <img src="https://www.svgrepo.com/show/510783/add-plus-square.svg" width="20" height="20">
  </button>
</div>
